<h1>Messages#edit</h1>
<p>メッセージ更新</p>

<%= form_with model: @message, url: exchange_message_path(@exchange), local: true do |f| %>
  <% if @message.errors.present? %>
    <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="form-group">
    <%= f.label :sender %><br />
    <%= f.select :sender, Message.senders.keys.to_a, { include_blank: '' } %>
  </div>
  <div class="form-group">
    <%= f.label :datetime %><br />
    <%= f.datetime_select :datetime, { include_blank: '' } %>
  </div>
  <div class="form-group">
    <%= f.label :read %><br />
    <%= f.select :read, Message.reads.keys.to_a, { include_blank: '' } %>
  </div>
  <br />
  <%= f.submit %>
<% end %>
<br />
<%= link_to "一覧に戻る", exchange_messages_path(@exchange) %>
