<h1>メッセージ一覧</h1>

<h3><%= @exchange.id %>（やりとりのID）</h3>
<h3><%= link_to @exchange.companion_id, companions_path %>（相手のID）</h3>

<% @messages.each do |message| %>
  <%= message.body %>
  <%= message.sender %>
  <%= message.datetime %>
  <%= message.read %>
  <%= button_to '編集する', edit_exchange_message_path(@exchange, message), method: :get %>
  <%= button_to '削除する', exchange_message_path(@exchange, message), confirm: 'Are you sure?', method: :delete %>
  <br>
<% end %>

<%= link_to '項目新規追加', new_exchange_message_path(@exchange) %>
<%= link_to 'リスト一覧を見る', exchanges_path %> 
