<h1>メッセージ新規追加</h1>

<%= form_with model: @message, url: exchange_messages_path(@exchange), local: true do |f| %>
  <% if @message.errors.present? %>
    <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    Body: <%= f.text_field :body %>
  </div><br/>
  <div class="form-group">
    Sender: <%= f.select :sender, Message.senders.keys.to_a, { include_blank: '' } %>
  </div><br/>
  <div class="form-group">
    Datetime: <%= f.datetime_select :datetime, { include_blank: '' } %>
  </div><br/>
  <div class="form-group">
    Read: <%= f.select :read, Message.reads.keys.to_a, { include_blank: '' } %>
  </div><br/>
  <%= f.submit %>
<% end %>
<br/>
<%= link_to "一覧に戻る", exchange_messages_path(@exchange) %>
