<div class="container">
  <div class="wrapper">
    <h1 class="h3 my-4 text-center">ユーザー登録</h1>

    <%= form_with model: @user, local: true do |f| %>
      <% if @user.errors.present? %>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="mb-3">
        <%= f.label 'メールアドレス' %><br/>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label 'パスワード' %><br/>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label 'パスワード（確認）' %><br/>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <br/>
      <div class="text-center">
        <%= f.submit 'ユーザー登録する', class: 'btn btn-primary text-center' %>
      </div>
    <% end %>
  </div>
</div>
