<h1>相手を登録</h1>

<%= form_with model: @companion, url: companions_path, local: true do |f| %>
  <% if @companion.errors.present? %>
    <ul>
      <% @companion.errors.full_companions.each do |companion| %>
        <li><%= companion %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    Nickname: <%= f.text_field :nickname %>
  </div><br/>
  <div class="form-group">
    Relationship: <%= f.text_field :relationship %>
  </div><br/>
  <div class="form-group">
    Acquainted: <%= f.text_field :acquainted %>
  </div><br/>
  <div class="form-group">
    Closeness: <%= f.text_field :closeness %>
  </div><br/>
  <div class="form-group">
    Solution: <%= f.text_field :solution %>
  </div><br/>
  <div class="form-group">
    Partner_gender: <%= f.text_field :partner_gender %>
  </div><br/>
  <div class="form-group">
    Partner_age: <%= f.text_field :partner_age %>
  </div><br/>
  <div class="form-group">
    Other: <%= f.text_field :other %>
  </div><br/>
  <%= f.submit %>
<% end %>
<br/>
<%= link_to "一覧に戻る", companions_path %>
