<!DOCTYPE html>
<html>
  <head>
    <title>MessageElimination</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if logged_in? && current_user.role == 'general' %>
      <%= render 'shared/logged_in_header' %>
    <% elsif logged_in? && current_user.role == 'guest' %>
      <%= render 'shared/guest_header' %>
    <% else %>
      <%= render 'shared/header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>
